# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Flask
instance/
freshness.db

# ML models (store in S3 — too large for Git)
*.h5
*.pt
*.pkl
ml/data/raw/
ml/data/processed/

# Uploads (user data — don't commit)
app/static/uploads/*
!app/static/uploads/.gitkeep

# Docker
.dockerenv

# IDE
.vscode/
.idea/
*.DS_Store

# Logs
*.log
